    <div id="header">
        <a href="index.html" id="logo"><img src="img/ui/vc_thumbnail_2.svg" alt=""><i>Redbud Cooperative</i></a>
        <input type="checkbox" id="checkbox" class="checkbox">
        <label for="checkbox" class="menu-icon"><img src="img/ui/menu.svg" alt=""></label>
        <div id="links">
            <a class="link" href="index.html">Home</a>
            <a class="link" href="about.html">About</a>
            <a class="link" href="mosey.html">Mosey</a>
            <a class="link" href="gallery.html">Gallery</a>
            <a class="link" href="rules.html">Rules</a>
            <a class="link" href="saveplate.html">Save Plate</a>
            <a class="link" href="https://forms.gle/RZyxtjqJWHnuoBUFA" target="_blank">Officer Feedback</a>
            <a class="link" href="contact.html">Contact</a>
        </div>
    </div>
    <div id="home"></div>